<!DOCTYPE html>
<html ng-app="SourceCodeTree">
  <head>
    <meta name="viewport" content="initial-scale=1">

    <script src="../js/libs.js"></script>
    <script src="../js/popup.js"></script>
    <script src="../js/iscroll/iscroll-lite.js"></script>

  </head>

  <body class="detail-expanded">

    <div class="dev-tools-wrapper" ng-controller="SourceTreeController">

      <div class="search">
        <div class="controls-wrapper">
          <span class="btn-control btn-next" ng-click="nextSearchResult()">next</span>
          <span class="btn-control btn-prev" ng-click="prevSearchResult()">prev</span>
        </div>
        <div class="search-wrapper">
          <input placeholder="Search DOM..." type="text"
          ng-model="searchString" ng-blur="onBlur()">
        </div>
        <span ng-if="activeSearchResult">{{getSearchIndex() + 1}}/{{searchResults.length}}</span>

      </div>

      <div class="article-tree" scrollable>
        <div class="scrollable-wrapper">
          <div class="tree" ng-show="displayTree">
            <ul>
              <li 
                source-node data="displayTree"
                selectedNode="selectedNode"
                ng-click="nodeClicked($event, displayTree)"
                ng-controller="NodeCtrl"></li>
            </ul>
          </div>
          <div ng-hide="displayTree">
            <div class="spinner"></div>
            <div>Parsing the DOM...</div>
          </div>
        </div>
      </div>

      <div class="details" scrollable ng-controller="DetailsCtrl">
        <div class="scrollable-wrapper"
          ng-click="scrollToNode(selectedNode.guid)">
          {{selectedNode.html}}
        </div>
        <div class="detail-controls">
          <span class="controls-block minimize-toggle"></span>
        </div>
      </div>

    </div>

  </body>
</html>
